#home.inActive	
	#powered_by
		%h1
			Powered by
		#soundclod_logo

	#enter
		#sign_up
			%input{name: "username", placeholder: "Enter your name", type: "input", id:"usernameInput"}
		#log_in
			%h1
				Go!


#sessionPage.active 
	#top.active
		/ #exit
		#partyName
			%h1
				Uri's house!
			/ %ul
			/ 	%li.partyName
			/ 		Uri's rooftop!
			/ 	%li.number
			/ 		13
			/ 	%li.peopleIcon
			/ 		#peopleIcon
		#addSongs
			#addSongsIcon.active

	#noSongs.inActive
		%h1
			No Songs


	#songs.active
		%h1
			The Cat Empire - Still young 
		%h2
			By Oriol Bella

		#cover
		#margin
		#soundwave
		#background
		#progress

	#bottom_menu
		#dislike
		#like
		#audio
		#refresh

	
