// Import Base Styles
@import "compass/reset";


// iPhone 4 Portrait
@media only screen
and (min-device-width: 320px)
and (max-device-width : 480px)
and (orientation : portrait)
and (device-aspect-ratio : 2/3)
{	
	html {
		width: 100%;
		height: 100%;
		font-family: 'Open Sans', sans-serif;
		background-color: #181818;

		body {
			width: 100%;
			height: 100%;
			position: absolute;

			#home.inActive {
				display: none;
			}

			#home.active {
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: #181818;

				#powered_by {
					width: 100%;
					height: 100px;
					position: absolute;
					
					//margin-left: 15%;
					margin-top: 70px;
					text-align: center;

					h1 {
						font-size: 14px;
						color: #F0F0F0;
						font-weight: 400;
					}

					#soundclod_logo {
						width: 140px;
						height: 80px;
						position: absolute;
						margin-left: 50%;
						left: -70px;
						margin-top: 15px;
						background: url('../images/sc_dark.png');
						background-size: cover;
					}
				}

				#enter {

					width: 100%;
					height: 120px;
					
					position: absolute;
					margin-top: 240px;
					// bottom: 50px;

					#sign_up {
						width: 250px;
						height: 45px;
						background-color: #F0F0F0;
						//float: left;
						position: absolute;
						margin-left: 50%;
						left: -125px;
						//text-align: center;
						// -webkit-border-radius: 5px;

						input[type="input"]{
							width: 95%;
							position: absolute;
							color: #181818;
							//margin-left: -8px;
						  -webkit-appearance: none;
						  -moz-appearance: none;
						  -webkit-box-sizing: content-box;
						  -moz-box-sizing: content-box;
						  outline:none;
						  font-size: 16px;
						  //background-color: red;
						  background-color: transparent;
						  border: transparent;
						  // padding-left: 8px;
						  // padding-right: 8px;
						  padding-top: 10px;
						  padding-bottom: 12px;
						  text-align: center;
						}

						::-webkit-input-placeholder {
						        color: #777;
						        text-align: center;
						}
					}

					#log_in {
						margin-top: 75px;
						width: 250px;
						height: 45px;
						position: absolute;
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,102,0,1)), color-stop(100%,rgba(255,51,0,1)));						
						position: absolute;
						//float: left;
						margin-left: 50%;
						left: -125px;
						text-align: center;
						//-webkit-border-radius: 5px;
						h1 {
							margin-top: 13px;
							color: #F0F0F0;
						}
					}
				}
			}
		}
	}
}

// iPhone 4 Landscape

@media only screen
and (min-device-width: 320px)
and (max-device-width : 480px)
and (orientation : landscape)
and (min-aspect-ratio : 2/3) 
// and (min-aspect-ratio: 13/9)
//and (orientation : landscape)
//and (orientation : portrait) 
{
	html {
		width: 100%;
		height: 100%;
		font-family: 'Open Sans', sans-serif;
		background-color: #181818;

		body {
			width: 100%;
			height: 100%;
			position: absolute;

			#home.inActive {
				display: none;
			}

			#home.active {
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: #181818;

				#powered_by {
					width: 25%;
					height: 100px;
					position: absolute;
					
					margin-left: 5%;
					margin-top: 50px;
					text-align: center;

					h1 {
						font-size: 12px;
						color: #F0F0F0;
						font-weight: 400;
					}

					#soundclod_logo {
						width: 70px;
						height: 40px;
						position: absolute;
						margin-left: 50%;
						left: -35px;
						margin-top: 15px;
						background: url('../images/sc_dark.png');
						background-size: cover;
					}
				}

				#enter {

					width: 50%;
					height: 120px;
					//background-color: red;
					position: absolute;
					margin-top: 50px;
					// bottom: 50px;
					margin-left: 40%;

					#sign_up {
						width: 100%;
						height: 30px;
						background-color: #F0F0F0;
						//float: left;
						position: absolute;
						//margin-left: 50%;
						//left: -125px;
						//text-align: center;
						// -webkit-border-radius: 5px;

						input[type="input"]{
							width: 100%;
							position: absolute;
							color: #181818;
							//margin-left: -8px;
						  -webkit-appearance: none;
						  -moz-appearance: none;
						  -webkit-box-sizing: content-box;
						  -moz-box-sizing: content-box;
						  outline:none;
						  font-size: 12px;
						  //background-color: red;
						  background-color: transparent;
						  border: transparent;
						  // padding-left: 8px;
						  // padding-right: 8px;
						  padding-top: 6px;
						  //padding-bottom: 12px;
						  text-align: center;
						}

						::-webkit-input-placeholder {
						        color: #777;
						        text-align: center;
						}
					}

					#log_in {
						margin-top: 45px;
						width: 100%;
						height: 30px;
						position: absolute;
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,102,0,1)), color-stop(100%,rgba(255,51,0,1)));						
						position: absolute;
						//float: left;
						//margin-left: 50%;
						//left: -125px;
						text-align: center;
						//-webkit-border-radius: 5px;
						h1 {
							margin-top: 8px;
							font-size: 12px;
							color: #F0F0F0;
						}
					}
				}
			}

		}
	}
}

// ========================================================================================================================
// ========================================================================================================================
// ========================================================================================================================
// ========================================================================================================================
// ========================================================================================================================
// ========================================================================================================================
// ========================================================================================================================
// ========================================================================================================================
// ========================================================================================================================





// HTC Portrait
@media only screen
and (min-device-width: 321px)
and (max-device-width : 640px)
and (max-aspect-ratio: 13/9)
//and (orientation : portrait) 
{	
	html {
		width: 100%;
		height: 100%;
		font-family: 'Open Sans', sans-serif;
		background-color: #181818;
		
		body {
			width: 100%;
			height: 100%;
			position: absolute;

			// Search results --------------------------------------------------------
			#opacityLayer.inActive {
				display: none;
			}

			#opacityLayer.active {
				z-index: 99999;
				width: 100%;
				height: 100%;
				background-color: #222;
				opacity: 0.97;
				position: absolute;
				//margin-top: 50px;

				#searchResults.inActive{
					display: none;
				}

				#searchResults.active {
					overflow-y: scroll;
					
					//z-index: 9;
					//margin-top: 55px;
					width: 100%;
					height: 100%;
					background-color: #111;
					opacity: 0.97;
					position: absolute;
				}

				#resultsList.inActive{
					display: none;
				}

				#resultsList.active{
					z-index: 9999999;
					width: 100%;
					//overflow-y: scroll;
					//height: inherit;
					margin-top: 55px;
					position: absolute;
					color: white;
					//padding-bottom: 500px;
					
					.song {
					width: 90%;
					float: left;
					height: 55px;
					margin-bottom: 10px;
					margin-left: 5%;
					
				
					}

					.song:hover{
						background-color: #FF6600;
					}

					.cover {
						float: left;
					}

					h1 {
						float: left;

						max-width: 250px;
						//background-color: red;
						margin-top: 10px;
						vertical-align: middle;
						margin-left: 10px;
					}
				}
			}

			#wrapper.scroll {
				position: absolute;
				width: 100%;
				height: 100%;
				//overflow: hidden;
			}
			#wrapper.noScroll {
				position: absolute;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			#home.inActive {
				display: none;
			}

			#home.active {
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: #181818;

				#powered_by {
					width: 100%;
					height: 100px;
					position: absolute;
					margin-left: 0;
					//margin-left: 15%;
					margin-top: 100px;
					text-align: center;

					h1 {
						font-size: 14px;
						color: #F0F0F0;
						font-weight: 400;
					}

					#soundclod_logo {
						width: 140px;
						height: 80px;
						position: absolute;
						margin-left: 50%;
						left: -70px;
						margin-top: 15px;
						background: url('../images/sc_dark.png');
						background-size: cover;
					}
				}

				#enter {

					width: 100%;
					height: 120px;
					
					position: absolute;
					margin-left: 0;
					margin-top: 350px;
					// bottom: 50px;

					#sign_up {
						width: 70%;
						height: 45px;
						background-color: #F0F0F0;
						//float: left;
						position: absolute;
						margin-left: 15%;
						//left: -125px;
						//text-align: center;
						// -webkit-border-radius: 5px;

						input[type="input"]{
							width: 100%;
							position: absolute;
							color: #181818;
							//margin-left: -8px;
						  -webkit-appearance: none;
						  -moz-appearance: none;
						  -webkit-box-sizing: content-box;
						  -moz-box-sizing: content-box;
						  outline:none;
						  font-size: 16px;
						  //background-color: red;
						  background-color: transparent;
						  border: transparent;
						  // padding-left: 8px;
						  // padding-right: 8px;
						  padding-top: 10px;
						  padding-bottom: 12px;
						  text-align: center;
						}

						::-webkit-input-placeholder {
						        color: #777;
						        text-align: center;
						}
					}

					#log_in {
						margin-top: 75px;
						width: 70%;
						height: 45px;
						position: absolute;
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,102,0,1)), color-stop(100%,rgba(255,51,0,1)));						
						position: absolute;
						//float: left;
						margin-left: 15%;
						//left: -125px;
						text-align: center;
						//-webkit-border-radius: 5px;
						h1 {
							font-size: 16px;
							margin-top: 13px;
							color: #F0F0F0;
						}
					}
				}
			}


			// Session page --------------------------------------------------

			#sessionPage.inActive {
				display: none;
			}

			#sessionPage.active {
				background-color: #F0F0F0 ;
				width: 100%;
				height: 100%;
				position: absolute;

				#top.inActive {
					//display: none;
					position: fixed;
					z-index: 999;
					width: 100%;
					top: 0;
					//background-color: #181818;
					height: 50px;
					#partyName {
						display: none;
					}
					#addSongs{
						display: none;
					}
				}

				#top.active {
					//position: absolute;
					position: fixed;
					z-index: 999;
					width: 100%;
					top: 0;
					//background-color: #202020;
					height: 50px;

					#exit {
						position: absolute;
						width: 50px;
						height: 50px;
						background: url('../images/exit6.png');
						background-size: cover;

					}

					#partyName {
						//background-color: red;
						width: 65%;
						margin-left: 50px;
						position: absolute;

						h1 {
							padding-top: 16.5px;
							color: #202020;
							font-weight: 700;
							font-size: 17px;
						}


						

					}

					#addSongs {
						float: right;
						width: 50px;
						height: 50px;
						//background-color: #FF6600;
						//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,51,0,1)), color-stop(41%,rgba(255,102,0,1)), color-stop(55%,rgba(255,102,0,1)), color-stop(100%,rgba(255,51,0,1)));

						#addSongsIcon.active {
							height: 25px;
							width: 25px;
							position: absolute;
							margin-left: 10px;
							margin-top: 14px;
							background: url(../images/add4.png);
							background-size: cover;
						}

						#addSongsIcon.inActive {
							display: none;
						}
					}
				}

				#noSongs.inActive {
					display: none;
				}
				#noSongs.active {
					width: 100%;
					height: 100%;
					position: absolute;
					text-align: center;

					h1 {
						margin-top: 250px;
						font-size: 20px;
						color: #909090;
					}

					
				}

				#songs.inActive {
					display: none;
				}

				#songs.active {
					width: 100%;
					height: 100%;
					position: absolute;
					text-align: center;
					
					#songText{
						width: 100%;
						position: absolute;
						bottom: 115px;
						background-color: #f0f0f0;
						h1 {
							padding-top: 10px;
							padding-left: 5%;
							padding-right: 5%;
							font-weight: 700;
							font-size: 17px;
							color: #202020;
							line-height: 20px;
						}

						h2 {
							//text-align: center;
							padding-top: 7px;
							padding-left: 5%;
							padding-right: 5%;
							padding-bottom: 10px;
							font-size: 15px;
							color: #888888 ;
							font-weight: 600;
						}
					}

					#cover {
						width: 90%;
						padding-bottom: 90%;
						margin-left: 5%;
						// width: 100%;
						// padding-bottom: 100%;
						//position: absolute;
						margin-top: 60px;
						//bottom: 60px;
						background: url('../images/cover2.png');
						background-size: cover;
					}

					#margin {
						width: 100%;
						height: 5px;
						position: absolute;
						bottom: 110px;
						background-color: #F0F0F0;
					}

					#soundwave {
						z-index: 9999;
						width: 100%;
						height: 50px;
						position: absolute;
						bottom: 60px;
						background: url('http://w1.sndcdn.com/Vn3SWYZjRfhl_m.png');
						background-size: 100% 200%;
					}

					#background {
						width: 100%;
						height: 50px;
						position: absolute;
						bottom: 60px;
						background-color: #202020;
					}

					#progress {
						width: 35%;
						position: absolute;
						bottom: 60px;
						height: 50px;
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,51,0,1)), color-stop(41%,rgba(255,102,0,1)), color-stop(55%,rgba(255,102,0,1)), color-stop(100%,rgba(255,51,0,1)));
					}
				}

				#bottom_menu {
					width: 100%;
					background-color: #202020;
					//background-color: #f0f0f0;
					height: 60px;
					bottom: 0;
					position: absolute;

					#dislike {
						width: 23px;
						padding-bottom: 23px;
						float: left;
						background: url('../images/dislike.png');
						background-size: cover;
						margin-top: 18px;
						margin-left: 14.4%;
					}

					#like {
						width: 23px;
						padding-bottom: 23px;
						float: left;
						background: url('../images/like.png');
						background-size: cover;
						margin-top: 18px;
						margin-left: 14.4%;
					}
					#audio {
						width: 27px;
						padding-bottom: 23px;
						float: left;
						background: url('../images/audioOFF.png');
						background-size: cover;
						margin-top: 18px;
						margin-left: 14.4%;
					}
					#refresh {
						width: 23px;
						padding-bottom: 23px;
						float: left;
						background: url('../images/refresh2.png');
						background-size: cover;
						margin-top: 18px;
						margin-left: 14.4%;
					}
				}

			}

			// Search page ---------------------------------------------------------------------------------------
			#searchPage.inActive {
				display: none;
			}

			#searchPage.active {
				width: 100%;
				height: 50px;
				position: absolute;
				background-color: #f0f0f0;
				z-index: 999999;

				ul {
					margin-top: 10px;
				}

				#searchIcon{
					position: absolute;
					z-index: 99999999;
					width: 20px;
					height: 20px;

					background: url('../images/searchIcon.png');
					background-size: cover;
					margin-top: 5px;
					margin-left: 5%;
				}

				input[type="search"]::-webkit-search-decoration,
					input[type="search"]::-webkit-search-cancel-button,
					input[type="search"]::-webkit-search-results-button,
					input[type="search"]::-webkit-search-results-decoration {
					  display: none;
					}

					input[type="search"]::-mox-search-decoration,
					input[type="search"]::-moz-search-cancel-button,
					input[type="search"]::-moz-search-results-button,
					input[type="search"]::-moz-search-results-decoration {
					  display: none;
					}

					
				::-webkit-input-placeholder {
				        color: #777;

				}

				
				
				#input {
					padding-top: 1px;
					font-weight: 600;
					font-size: 17px;
					// width: inherit;
					// height: inherit;
					//background-color: red;
					// z-index: 999999999;
				}

				input[type="search"]{
					z-index: 9999;
					width: 70%;
					float: left;
					color: #222;
					font-weight: 600;
					font-size: 17px;
					margin-left: 50px;
				  -webkit-appearance: none;
				  -moz-appearance: none;
				  -webkit-box-sizing: content-box;
				  -moz-box-sizing: content-box;
				  outline:none;
				  
				  background-color: transparent;
				  border: 0px;
				}

				#closeSearch {
					z-index: 99999999999999;
					width: 20px;
					height: 20px;
					//float: right;
					position: absolute;
					right: 5%;
					margin-top: 4px;
					//margin-top: 5px;
					background: url(../images/closeSearch.png);
					background-size: cover;
				}
				
			}


			// Create / join Page ------------------------------------------------

			#create_joinPage.inActive{
				display: none;
			}

			#create_joinPage.active {
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: #f0f0f0;

				#topName {
					display: none;
					width: 100%;
					height: 50px;
					position: fixed;
					text-align: center;
					top: 0;
					 background-color: #181818;

					p{	
						//margin-left: 5%;
						font-size: 17px;
						color: white;
						font-weight: 600;
						padding-top: 16.5px;
						// span {
						// 	color: #ff6600;
						// }
					}
				}

				#sessionsAround {
					width: 100%;
					//position: absolute;
					margin-top: 90px;

					h1 {
						font-weight: 400;
						font-size: 13px;
						color: #ff6600;
						margin-left: 5%;
						padding-bottom: 10px;
						font-weight: 600;
					}



					.filet {
						width: 90%;
						height: 1px;
						margin-left: 5%;
						background-color: #ff6600;
					}

					#sessionsOn.inActive {
						display: none;
					}

					#sessionsOn.active {
						width: 100%;
						//position: absolute;
						//margin-top: 15px;
						.session h1{
							width: 90%;
							font-weight: 600;
							font-size: 17px;
							color: #111;
							//padding-left: 5%;
							padding-top: 17px;
							padding-bottom: 17px;
						}

						.session h1:hover {
							background-color: #ccc;
						}
						
						.session .filet {
							width: 90%;
							height: 1px;
							margin-left: 5%;
							background-color: #C0C0C0;
						}
					}

					#noSessionsAround.inActive {
						display: none;
					}

					#noSessionsAround.active{
						width: 100%;

						h1 {
							width: 85%;
							font-weight: 400;
							font-size: 17px;
							color: #111;
							//padding-left: 5%;
							padding-top: 17px;
							padding-bottom: 17px;
						}

						
					}

					
				}

				#createNewSession {
						width: 100%;
						margin-top: 70px;
						height: 20px;
						
						h1 {
							font-weight: 400;
						font-size: 13px;
						color: #ff6600;
						margin-left: 5%;
						padding-bottom: 10px;
						font-weight: 600;
						}

						.filet {
							width: 90%;
							height: 1px;
							margin-left: 5%;
							background-color: #ff6600;
						}

						input[type="input"]{
							margin-top: 15px;
							z-index: 9999;
							width: 85%;
							position: absolute;
							//float: left;
							color: #111;
							margin-left: 7.5%;
							left: -10px;

							padding: 15px 10px 15px 10px;
						  -webkit-appearance: none;
						  -moz-appearance: none;
						  -webkit-box-sizing: content-box;
						  -moz-box-sizing: content-box;
						  outline:none;
						  font-size: 16px;
						  background-color: white;
						  border: 0px;
						}

						#createButton {
							width: 85%;
							height: 40px;
							padding-left: 10px;
							padding-right: 10px;
							padding-top: 20px;
							//padding-bottom: 15px;
							margin-left: 7.5%;
							left: -10px;
							position: absolute;
							margin-top: 80px;
							background-color: #111;
							text-align: center;

							h1 {
								font-size: 16px;
								color: white;
								margin-left: -10px;
							}

						}
					}
			}

			


		}
	}
}


// HTC Landscape
@media only screen
and (min-device-width: 321px)
and(max-device-width : 640px)
and (min-aspect-ratio: 13/9)  {
	html {
		width: 100%;
		height: 100%;
		font-family: 'Open Sans', sans-serif;
		background-color: #181818;
		
		body {
			width: 100%;
			height: 100%;
			position: absolute;

			// Search results --------------------------------------------------------
			#opacityLayer.inActive {
				display: none;
			}

			#opacityLayer.active {
				z-index: 99999;
				width: 100%;
				height: 100%;
				background-color: #222;
				opacity: 0.97;
				position: absolute;
				//margin-top: 50px;

				#searchResults.inActive{
					display: none;
				}

				#searchResults.active {
					overflow-y: scroll;
					
					//z-index: 9;
					//margin-top: 55px;
					width: 100%;
					height: 100%;
					background-color: #111;
					opacity: 0.97;
					position: absolute;
				}

				#resultsList.inActive{
					display: none;
				}

				#resultsList.active{
					z-index: 9999999;
					width: 100%;
					//overflow-y: scroll;
					//height: inherit;
					margin-top: 55px;
					position: absolute;
					color: white;
					//padding-bottom: 500px;
					
					.song {
					width: 90%;
					float: left;
					height: 55px;
					margin-bottom: 10px;
					margin-left: 5%;
					
				
					}

					.song:hover{
						background-color: #FF6600;
					}

					.cover {
						float: left;
					}

					h1 {
						float: left;

						max-width: 450px;
						//background-color: red;
						margin-top: 10px;
						vertical-align: middle;
						margin-left: 10px;
					}
				}
			}

			#wrapper {
				position: absolute;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			#home.inActive {
				display: none;
			}

			#home.active {
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: #181818;

				#powered_by {
					width: 50%;
					height: 100px;
					position: absolute;
					
					//margin-left: 15%;
					margin-top: 90px;
					text-align: center;

					h1 {
						font-size: 14px;
						color: #F0F0F0;
						font-weight: 400;
					}

					#soundclod_logo {
						width: 140px;
						height: 80px;
						position: absolute;
						margin-left: 50%;
						left: -70px;
						margin-top: 15px;
						background: url('../images/sc_dark.png');
						background-size: cover;
					}
				}

				#enter {

					width: 50%;
					height: 120px;
					
					position: absolute;
					margin-top: 90px;
					// bottom: 50px;
					margin-left: 45%;

					#sign_up {
						width: 250px;
						height: 45px;
						background-color: #F0F0F0;
						//float: left;
						position: absolute;
						margin-left: 50%;
						left: -125px;
						//text-align: center;
						// -webkit-border-radius: 5px;

						input[type="input"]{
							width: 100%;
							position: absolute;
							color: #181818;
							//margin-left: -8px;
						  -webkit-appearance: none;
						  -moz-appearance: none;
						  -webkit-box-sizing: content-box;
						  -moz-box-sizing: content-box;
						  outline:none;
						  font-size: 16px;
						  //background-color: red;
						  background-color: transparent;
						  border: transparent;
						  // padding-left: 8px;
						  // padding-right: 8px;
						  padding-top: 10px;
						  padding-bottom: 12px;
						  text-align: center;
						}

						::-webkit-input-placeholder {
						        color: #777;
						        text-align: center;
						}
					}

					#log_in {
						margin-top: 75px;
						width: 250px;
						height: 45px;
						position: absolute;
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,102,0,1)), color-stop(100%,rgba(255,51,0,1)));						
						position: absolute;
						//float: left;
						margin-left: 50%;
						left: -125px;
						text-align: center;
						//-webkit-border-radius: 5px;
						h1 {
							margin-top: 13px;
							font-size: 16px;
							color: #F0F0F0;
						}
					}
				}
			}


			// Session page -------------------------------------------------------------------------------

			#sessionPage.inActive {
				display: none;
			}

			#sessionPage.active {
				background-color: #F0F0F0 ;
				width: 100%;
				height: 100%;
				position: absolute;
				overflow: hidden;

				#top.inActive {
					//display: none;
					position: fixed;
					z-index: 999;
					width: 100%;
					top: 0;
					//background-color: #181818;
					height: 50px;
					#partyName {
						display: none;
					}
					#addSongs{
						display: none;
					}
				}

				#top.active {
					//position: absolute;
					position: fixed;
					z-index: 999;
					width: 100%;
					top: 0;
					//background-color: #202020;
					height: 50px;

					#exit {
						position: absolute;
						width: 50px;
						height: 50px;
						background: url('../images/exit6.png');
						background-size: cover;

					}

					#partyName {
						//background-color: red;
						width: 65%;
						margin-left: 50px;
						position: absolute;

						h1 {
							padding-top: 16px;
							color: #202020;
							font-weight: 700;
							font-size: 17px;
						}

					}

					#addSongs {
						float: right;
						width: 50px;
						height: 50px;
						//background-color: #FF6600;
						//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,51,0,1)), color-stop(41%,rgba(255,102,0,1)), color-stop(55%,rgba(255,102,0,1)), color-stop(100%,rgba(255,51,0,1)));

						#addSongsIcon.active {
							height: 25px;
							width: 25px;
							position: absolute;
							margin-left: 10px;
							margin-top: 14px;
							background: url(../images/add4.png);
							background-size: cover;
						}

						#addSongsIcon.inActive {
							display: none;
						}
					}
				}

				#noSongs.inActive {
					display: none;
				}
				#noSongs.active {
					width: 100%;
					height: 100%;
					position: absolute;
					text-align: center;

					h1 {
						margin-top: 250px;
						font-size: 20px;
						color: #909090;
					}

					
				}

				#songs.inActive {
					display: none;
				}

				#songs.active {
					width: 100%;
					height: 100%;
					position: absolute;
					text-align: center;


					#songText{
						width: 60%;
						position: absolute;
						margin-top: 80px;
						//bottom: 115px;
						margin-left: 35%;
						
						h1 {
							padding-top: 10px;
							padding-left: 5%;
							padding-right: 5%;
							font-weight: 700;
							font-size: 17px;
							color: #202020;
							line-height: 20px;
						}

						h2 {
							//text-align: center;
							padding-top: 7px;
							padding-left: 5%;
							padding-right: 5%;
							padding-bottom: 15px;
							font-size: 15px;
							color: #888888 ;
							font-weight: 600;
						}
					}

					#cover {
						width: 210px;
						height: 210px;
						// padding-bottom: 25%;
						margin-top: 50px;
						position: absolute;
						background: url('../images/cover2.png');
						background-size: cover;
					}

					#margin {
						width: 100%;
						height: 5px;
						position: absolute;
						bottom: 50px;
						background-color: #F0F0F0;
					}

					#soundwave {
						z-index: 9999;
						width: 100%;
						height: 50px;
						position: absolute;
						//margin-top: 50px;
						// background-color: red;
						 bottom: 0px;
						background: url('../images/soundwave.png');
						background-size: 100% 200%;
						//-webkit-filter: invert(90%);
					}

					#background {
						width: 100%;
						height: 50px;
						position: absolute;
						bottom: 0px;
						background-color: #202020;
					}

					#progress {
						width: 35%;
						position: absolute;
						bottom: 0px;
						height: 50px;
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,51,0,1)), color-stop(41%,rgba(255,102,0,1)), color-stop(55%,rgba(255,102,0,1)), color-stop(100%,rgba(255,51,0,1)));
					}

				}

				#bottom_menu {
					
					width: 60%;
					
					//background-color: red;
					height: 50px;
					margin-left: 35%;
					margin-top: 160px;
					// bottom: 0;
					position: absolute;

					#dislike {
						width: 23px;
						padding-bottom: 23px;
						float: left;
						background: url('../images/dislikeBlack.png');
						background-size: cover;
						margin-top: 14px;
						margin-left: 15%;
					}

					#like {
						width: 23px;
						padding-bottom: 23px;
						float: left;
						background: url('../images/likeBlack.png');
						background-size: cover;
						margin-top: 14px;
						margin-left: 15%;
					}
					#audio {
						width: 27px;
						padding-bottom: 23px;
						float: left;
						background: url('../images/audioOFFblack.png');
						background-size: cover;
						margin-top: 14px;
						margin-left: 15%;
					}
					#refresh {
						width: 23px;
						padding-bottom: 23px;
						float: left;
						background: url('../images/refreshBlack2.png');
						background-size: cover;
						margin-top: 14px;
						margin-left: 15%;
					}
				}
			}

			// Search page ---------------------------------------------------------------------------------------
			#searchPage.inActive {
				display: none;
			}

			#searchPage.active {
				width: 100%;
				height: 50px;
				position: absolute;
				background-color: #f0f0f0;
				z-index: 999999;

				ul {
					margin-top: 10px;
				}

				#searchIcon{
					position: absolute;
					z-index: 99999999;
					width: 20px;
					height: 20px;

					background: url('../images/searchIcon.png');
					background-size: cover;
					margin-top: 5px;
					margin-left: 2%;
				}

				input[type="search"]::-webkit-search-decoration,
					input[type="search"]::-webkit-search-cancel-button,
					input[type="search"]::-webkit-search-results-button,
					input[type="search"]::-webkit-search-results-decoration {
					  display: none;
					}

					input[type="search"]::-mox-search-decoration,
					input[type="search"]::-moz-search-cancel-button,
					input[type="search"]::-moz-search-results-button,
					input[type="search"]::-moz-search-results-decoration {
					  display: none;
					}

					
				::-webkit-input-placeholder {
				        color: #777;

				}

				
				
				#input {
					padding-top: 1px;
					font-weight: 600;
					font-size: 17px;
					// width: inherit;
					// height: inherit;
					//background-color: red;
					// z-index: 999999999;
				}

				input[type="search"]{
					z-index: 9999;
					width: 70%;
					float: left;
					color: #222;
					font-weight: 600;
					font-size: 17px;
					margin-left: 50px;
				  -webkit-appearance: none;
				  -moz-appearance: none;
				  -webkit-box-sizing: content-box;
				  -moz-box-sizing: content-box;
				  outline:none;
				  
				  background-color: transparent;
				  border: 0px;
				}

				#closeSearch {
					z-index: 99999999999999;
					width: 20px;
					height: 20px;
					//float: right;
					position: absolute;
					right: 2%;
					margin-top: 4px;
					//margin-top: 5px;
					background: url(../images/closeSearch.png);
					background-size: cover;
				}
				
			}

			// Create / join Page ---------------------------------------------------------------------------
			#create_joinPage.inActive{
				display: none;
			}

			#create_joinPage.active {
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: #f0f0f0;

				#topName {
					display: none;
					width: 100%;
					height: 50px;
					position: absolute;
					text-align: center;
					top: 0;
					background-color: #181818;

					p{	
						//margin-left: 5%;
						font-size: 17px;
						color: white;
						font-weight: 600;
						padding-top: 16.5px;
						// span {
						// 	color: #ff6600;
						// }
					}
				}

				#sessionsAround {
					width: 50%;
					float: left;
					//position: absolute;
					margin-top: 90px;

					h1 {
						font-weight: 400;
						font-size: 13px;
						color: #ff6600;
						margin-left: 5%;
						padding-bottom: 10px;
						font-weight: 600;
					}



					.filet {
						width: 90%;
						height: 1px;
						margin-left: 5%;
						background-color: #ff6600;
					}

					#sessionsOn.inActive {
						display: none;
					}

					#sessionsOn.active {
						width: 100%;
						//position: absolute;
						//margin-top: 15px;
						.session h1{
							width: 90%;
							font-weight: 600;
							font-size: 17px;
							color: #111;
							//padding-left: 5%;
							padding-top: 17px;
							padding-bottom: 17px;
						}

						.session h1:hover {
							background-color: #ccc;
						}
						
						.session .filet {
							width: 90%;
							height: 1px;
							margin-left: 5%;
							background-color: #C0C0C0;
						}
					}

					#noSessionsAround.inActive {
						display: none;
					}

					#noSessionsAround.active{
						width: 100%;

						h1 {
							width: 85%;
							font-weight: 400;
							font-size: 17px;
							color: #111;
							//padding-left: 5%;
							padding-top: 17px;
							padding-bottom: 17px;
						}

						
					}

					
				}

				#createNewSession {
						width: 50%;
						float: left;
						margin-top: 90px;
						//height: 20px;
						
						h1 {
							font-weight: 400;
							font-size: 13px;
							color: #ff6600;
							margin-left: 5%;
							padding-bottom: 10px;
							font-weight: 600;
						}

						.filet {
							width: 90%;
							height: 1px;
							margin-left: 5%;
							background-color: #ff6600;
						}

						input[type="input"]{
							margin-top: 15px;
							z-index: 9999;
							width: 80%;
							//position: absolute;
							//float: left;
							color: #111;
							margin-left: 5%;
							left: -10px;

							padding: 15px 10px 15px 10px;
						  -webkit-appearance: none;
						  -moz-appearance: none;
						  -webkit-box-sizing: content-box;
						  -moz-box-sizing: content-box;
						  outline:none;
						  font-size: 16px;
						  background-color: white;
						  border: 0px;
						}

						#createButton {
							width: 80%;
							height: 40px;
							padding-left: 10px;
							padding-right: 10px;
							padding-top: 20px;
							//padding-bottom: 15px;
							margin-left: 5%;
							left: -10px;
							//position: absolute;
							margin-top: 20px;
							background-color: #111;
							text-align: center;

							h1 {
								font-size: 16px;
								color: white;
								margin-left: -10px;
							}

						}
					}
			}

		}
	}
}

